plotly==4.14.3
pandas==1.2.1
requests==2.25.1
nltk==3.6.2
yfinance==0.1.63
regex==2021.8.28
alpha_vantage==2.3.1
fuzzywuzzy==0.18.0
praw==7.4.0
prawcore==2.3.0
streamlit==0.88.0
beautifulsoup4==4.10.0
Pillow==8.3.2
