.title h1{
    line-height: 700px;
    text-align: center;
    color : transparent;
    user-select: none;
    font-size: 80px;
    font-family: sans-serifed;
    color: white;
    background: repeating-linear-gradient(45deg, #faff8a 0%, #b6f5f0 20%, #d3ddff 40%,#F63366 60%, white 80%);
    background-size: 700vw 700vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 10s linear infinite forwards;
    }
    @keyframes slide {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 600vw;
    }
}

.subtitle h2 {
line-height: 100px;
text-align: center;
font-size: 25px;
font-family: sans-serifed;
background: repeating-linear-gradient(45deg, #faff8a 0%, #b6f5f0 20%, #d3ddff 40%,#F63366 60%, white 80%);
background-size: 700vw 700vw;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
animation: slide 10s linear infinite forwards;
}